/*Estilo GERAIS*/    
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}

#menu li{
    display: inline;
    padding: 15px;
}
#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#menu li a:hover{
    color: gray;
}
/*Estilo da pagina index.html*/
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.tm-foto{
    width: 250px;
    height: 250px;

}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}
.tm-12{
    font-size: 20px
}
/*Estilo da pagina portifolio.html*/
.tm-porti{
    width: 250px;
    height: 250px;

}

/*Estilo da pagina contato.html*/
.tm-social{
    width: 50px;
    height: 50px;

}
.p-10{
    padding: 10px;
}